/* shared styles */

*{
    margin: 0px;
}

body{
    font-family: "Inter", serif;
}

.primary-container{
    width: 75%;
    margin: 0px auto;
}

.btn-primary{
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    padding: 16px 46.5px;
    transition: 0.2s;
}

:hover.btn-primary{
    background-color: white;
    border-radius: 42px;
    border: none;
    padding: 16px 46.5px;
}

.btn-primary > a{
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}

:hover.btn-primary > a{
    color: #E6533C;
}

.btn-secondary{
    background-color: rgba(17, 17, 17, 0);
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    padding: 16px 46.5px;
    transition: 0.2s;
}

:hover.btn-secondary{
    background-color: #FFFFFF;
}

.btn-secondary > a{
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}

:hover.btn-secondary > a{
    color: #111111;
}


/* nav styles */

header{
    background: #111111;
     background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0.1), rgba(17, 17, 17, 1));
     padding: 50px 0px 30px 0px;
}

header > .primary-container{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
    transition: 0.2s;
}

:hover.header-logo{
    transform: scale(1.2);
    cursor: pointer;
}

.nav-links{
    color: white;
    display: flex;
    align-items: center;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 3px 20px 3px 3px;


}

.nav-links > li{
    list-style: none;
    transition: 0.2s;
}

:hover.link-1{
    color: #E6533C;
    text-decoration: underline;
    cursor: pointer;
}

:hover.link-2{
    color: #E6533C;
    text-decoration: underline;
    cursor: pointer;
}

:hover.link-3{
    color: #E6533C;
    text-decoration: underline;
    cursor: pointer;
}

#home{
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px;
}

:hover#home{
    background-color: #FFFFFF;
    color: #E6533C;
    cursor: pointer;
}


/* banner styles */

.banner > .primary-container{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.banner-content{
    padding: 0px;
    width: 50%;
}

.banner-title{
    color: white;
    font-size: 3.125rem;
    line-height: 200%;
}

.banner-title > h1 > span{
    font-family: "Mea Culpa", serif;
    font-weight: normal;
    font-size: 8.875rem;
}

.banner-description{
    color: white;
    font-size: 1rem;
    margin: 28px auto;
}

.banner-image{
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    display: flex;
    width: 50%;
    height: 580px;
}

.workout-videos{
    width: 130px;
    height: 80px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 17px 23px 0px 24px;
    margin-bottom: 0px;
    position: absolute;
    top: 150px;
    right: 50px;
}

.workout-videos > h3{
    font-size: 2.5rem;
    color: white;
}

.workout-videos > p{
    font-size: 0.813rem;
    color: rgba(255, 255, 255, 0.65);
}

.video-tutorial{
    display: flex;
    align-items: center;
    width: 150px;
    height: 80px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1px 23px 0px 24px;
    margin-bottom: 0px;
    position: absolute;
    top: 450px;
    left: -20px;
}

.video-tutorial-content{
    position: absolute;
    left: 70px;
}

.video-tutorial-content > h3{
    font-size: 1.5rem;
    color: white;
}

.video-tutorial-content > p{
    font-size: 0.813rem;
    color: rgba(255, 255, 255, 0.65);
}

.circle{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #E6533C;
    border: #E6533C solid 2px;
    position: absolute;
    left: 10px;
}

.banner-content > .btn-primary{
    margin-right: 10px;
}






/* desktop responsiveness */

@media screen and (min-width: 577px) {
    .nav-mobile{
        display: none;
    }
}


/* mobile responsiveness */

@media screen and (max-width: 576px) {
    header{
        width: 100%;
        padding-bottom: 0px;
    }

    nav{
        display: none;
    }

    .nav-mobile > img{
        width: 100%;
        margin-top: 10px;
    }

    .primary-container{
        width: 90%;
    }

    .banner > .primary-container{
        flex-direction: column;
        width: 90%;
    }

    .banner-content{
        width: 100%;
    }

    .banner-title{
        font-size: 1.85rem;
    }

    .btn-primary > a> span{
        display: none;
    }

    .btn-secondary{
        padding: 16px 20px;
    }

    .banner-image{
        width: 100%;
        height: 500px;
        margin-top: 38px;
        background-position: bottom;
        background-size: 300px;
    }

    .workout-videos{
        top: 40px;
        right: 0px;
    }

    .video-tutorial{
        top: 350px;
        left: 15px;
    }

}
