/* shared styles */

*{
    margin: 0px;
}

body{
    font-family: "Inter", serif;
    background-color: black;
    color: white;
}

.secondary-font{
    font-weight: 900;
    font-size: 3rem;
}

.primary-font{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}

.optional-font{
    font-size: 1.75rem;
}

.primary-container{
    width: 75%;
    margin: 0px auto;
}

.btn-primary{
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    padding: 16px 46.5px;
    transition: 0.2s;
}

:hover.btn-primary{
    background-color: white;
    border-radius: 42px;
    border: none;
    padding: 16px 46.5px;
}

.btn-primary > a{
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}

:hover.btn-primary > a{
    color: #E6533C;
}

.btn-secondary{
    background-color: rgba(17, 17, 17, 0);
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    padding: 16px 46.5px;
    transition: 0.2s;
}

:hover.btn-secondary{
    background-color: #FFFFFF;
}

.btn-secondary > a{
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}

:hover.btn-secondary > a{
    color: #111111;
}


/* nav styles */

header{
    background: #111111;
     background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0.1), rgba(17, 17, 17, 1));
     padding: 50px 0px 30px 0px;
}

header > .primary-container{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
    transition: 0.2s;
}

:hover.header-logo{
    transform: scale(1.2);
    cursor: pointer;
}

.nav-links{
    color: white;
    display: flex;
    align-items: center;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 3px 20px 3px 3px;


}

.nav-links > li{
    list-style: none;
    transition: 0.2s;
}

:hover.link-1{
    color: #E6533C;
    text-decoration: underline;
    cursor: pointer;
}

:hover.link-2{
    color: #E6533C;
    text-decoration: underline;
    cursor: pointer;
}

:hover.link-3{
    color: #E6533C;
    text-decoration: underline;
    cursor: pointer;
}

#home{
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px;
}

:hover#home{
    background-color: #FFFFFF;
    color: #E6533C;
    cursor: pointer;
}


/* banner styles */

.banner > .primary-container{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.banner-content{
    padding: 0px;
    width: 50%;
}

.banner-title{
    color: white;
    font-size: 3.125rem;
    line-height: 200%;
}

.banner-title > h1 > span{
    font-family: "Mea Culpa", serif;
    font-weight: normal;
    font-size: 8.875rem;
}

.banner-description{
    color: white;
    font-size: 1rem;
    margin: 28px auto;
}

.banner-image{
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    display: flex;
    width: 50%;
    height: 580px;
}

.workout-videos{
    width: 130px;
    height: 80px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 17px 23px 0px 24px;
    margin-bottom: 0px;
    position: absolute;
    top: 150px;
    right: 50px;
}

.workout-videos > h3{
    font-size: 2.5rem;
    color: white;
}

.workout-videos > p{
    font-size: 0.813rem;
    color: rgba(255, 255, 255, 0.65);
}

.video-tutorial{
    display: flex;
    align-items: center;
    width: 150px;
    height: 80px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1px 23px 0px 24px;
    margin-bottom: 0px;
    position: absolute;
    top: 450px;
    left: -20px;
}

.video-tutorial-content{
    position: absolute;
    left: 70px;
}

.video-tutorial-content > h3{
    font-size: 1.5rem;
    color: white;
}

.video-tutorial-content > p{
    font-size: 0.813rem;
    color: rgba(255, 255, 255, 0.65);
}

.circle{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #E6533C;
    border: #E6533C solid 2px;
    position: absolute;
    left: 10px;
}

.banner-content > .btn-primary{
    margin-right: 10px;
}


/* habits section styles */

.habits{
    margin-top: 100px;
}

.habit-content{
    text-align: center;
    width: 55%;
    margin: 58px auto;
}

.habit-content > .secondary-font{
    margin-bottom: 14px;
}

.habit-image-container{
    display: flex;
}

.habit-image{
    width: 231px;
    height: 274px;
    padding: 25px;
    text-align: center;
    transition: 0.2s;
}

:hover.habit-image{
    transform: scale(1.1);
}

.habit-image > img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.habit-image-title{
    font-size: 1.125rem;
    margin: 20px auto 6px auto;
}


/* extra mile styles */

.extra-mile > .primary-container{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    border-radius: 18px;
}

.extra-mile-content{
    margin: 20px 22px 20px 50px;
}

.extra-mile-content > .secondary-font{
    width: 45%;
    margin-bottom: 14px;
}

.extra-mile-content > .primary-font{
    margin-bottom: 34px;
    width: 60%;
}

.extra-mile-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 20px 22px;
    object-fit: cover;
}

/* bmi calculator styles */

.bmi-calculator-title-content{
    width: 40%;
    margin: 0px auto 88px auto;
}

.bmi-calculator-title-content > .secondary-font{
    margin-bottom: 14px;
}

.bmi-calculator-container{
    background-color: #222222;
}

.bmi-calculator-container > .primary-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 60px 0px;
}

.bmi-calculator-chart > .optional-font{
    margin-bottom: 52px;
}

.bmi-calculator-table, tr, th, td{
    text-align: left;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 18px;
}

th{
    font-size: 1rem;
    font-weight: 500;
}

td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}

.btmi-calculator-form-content{
    width: 80%;
    margin-bottom: 34px;
}

.bmi-calculator-form{
    width: 60%;
}

.btmi-calculator-form-content > .optional-font{
    margin-bottom: 14px;
}

.bmi-form > input{
    padding: 13px 0px 13px 20px;
    width: 40%;
    margin-bottom: 4px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}

#activity-factor{
    width: 84%;
    margin-bottom: 34px;
}

/* meet our team section styles */

.meet-our-team > .primary-container{
    text-align: center;
    margin: 88px auto 88px auto;
}

.our-team-content{
    margin: auto auto 50px auto;
    width: 55%;
}

.our-team-content > .primary-font{
    margin-top: 20px;
}

.teams{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.team-1-container, .team-2-container, .team-3-container, .team-4-container, .team-5-container, .team-6-container{
    padding: 10px;
}

.team-1{
    border-radius: 18px;
    padding: 10px;
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer1.png);
    background-size: cover;
}

.team-2{
    border-radius: 18px;
    padding: 10px;
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer2.png);
    background-size: cover;
}

.team-3{
    border-radius: 18px;
    padding: 10px;
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer3.png);
    background-size: cover;
}

.team-4{
    border-radius: 18px;
    padding: 10px;
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer4.png);
    background-position: 50% 50%;
    background-size: cover;
}

.team-5{
    border-radius: 18px;
    padding: 10px;
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer5.png);
    background-size: cover;
}

.team-6{
    border-radius: 18px;
    padding: 10px;
    width: 326.67px;
    height: 272px;
    background-image: url(../images/trainer6.png);
    background-size: cover;
}

.team-info{
    text-align: left;
    position: relative;
    top: 230px;
}

/* footer styles */

footer{
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 66px;
    padding-bottom: 35px;
}

.footer-first-half > .primary-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
}

.footer-left{
    width: 35%;
}

.footer-logo{
    color: #E6533C;
    font-size: 4.375rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.footer-mid > ol{
    color: rgba(255, 255, 255, 0.5);
    list-style: none;
    margin-left: -37px;
    font-size: 1.438rem;
    line-height: 40px;
    margin-top: 30px;
}

.footer-right > ol{
    color: rgba(255, 255, 255, 0.5);
    list-style: none;
    margin-left: -37px;
    font-size: 1.438rem;
    line-height: 40px;
    margin-top: 30px;
}

.footer-link-1, .footer-link-2, .footer-link-3, .footer-link-4, .footer-link-5, .footer-link-6, .footer-link-7, .footer-link-8{
    list-style: none;
    transition: 0.2s;
}

:hover.footer-link-1, :hover.footer-link-2, :hover.footer-link-3, :hover.footer-link-4, :hover.footer-link-5, :hover.footer-link-6, :hover.footer-link-7, :hover.footer-link-8{
    color: #E6533C;
    text-decoration: underline;
    cursor: pointer;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 36px;
}

.footer-second-half > .primary-container > .primary-font{
    font-size: 1.25rem;
    text-align: center;
}




/* desktop responsiveness */

@media screen and (min-width: 577px) {
    .nav-mobile{
        display: none;
    }
}


/* mobile responsiveness */

@media screen and (max-width: 576px) {
    header{
        width: 100%;
        padding-bottom: 0px;
    }

    nav{
        display: none;
    }

    .nav-mobile > img{
        width: 100%;
        margin-top: 10px;
    }

    .primary-container{
        width: 90%;
    }

    .banner > .primary-container{
        flex-direction: column;
        width: 90%;
    }

    .banner-content{
        width: 100%;
    }

    .banner-title{
        font-size: 1.85rem;
    }

    .btn-primary > a> span{
        display: none;
    }

    .btn-secondary{
        padding: 16px 20px;
    }

    .banner-image{
        width: 100%;
        height: 500px;
        margin-top: 38px;
        background-position: bottom;
        background-size: 300px;
    }

    .workout-videos{
        top: 40px;
        right: 0px;
    }

    .video-tutorial{
        top: 350px;
        left: 15px;
    }


    .habit-content{
        width: 90%;
    }

    .habit-image-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .extra-mile-content{
        width: 80%;
        margin: 20px auto 10px auto;
        padding: auto;
    }

    .extra-mile > .primary-container {
        flex-direction: column;
    }

    .extra-mile-content > .primary-font{
        width: 100%;
    }

    .extra-mile-content > .secondary-font{
        width: 100%;

    }

    .extra-mile-content > .btn-primary{
        width: 100%;
        padding: 16px 46.5px;
        transition: 0.2s;
    }

    .extra-mile-img{
        width: 81%;
        height: 51%;
    }

    .bmi-calculator-container > .primary-container{
        flex-direction: column;
    }

    .bmi-calculator-form{
        width: 100%;
    }

    .btmi-calculator-form-content{
        width: 100%;
    }

    .bmi-form > input{
        width: 40%;
    }

    #activity-factor{
        width: 87%;
    }

    .teams{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-team-content{
        margin: auto auto 50px auto;
        width: 100%;
    }

    .footer-first-half > .primary-container{
        flex-direction: column;
    }

    .footer-left{
        width: 85%;
        margin-bottom: 20px;
    }

    .footer-mid{
        margin-bottom: 20px;
    }

}
